*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}
body {
    background-color: var(--Grey-900);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "inter", sans-serif;
    min-height: 100vh;
    overflow-y: auto;
}
main {
    width: 100%;
    max-width: 350px;
}
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--Grey-800);
    border-radius: 10px;
    
}
.imagem{
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 30px;
}
.nome{
    font-size: 20px;
    font-weight: 700;
    color: var(--White);
    padding: 20px 0 10px 0;
}
.local{
    color: var(--Green);
    font-size: 14px;
    font-weight: 400;

}
.p{
    color: var(--White);
     font-size: 14px;
    font-weight: 400;
    padding: 25px;
}
.links{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
   padding-bottom: 30px;

}
.links a{
    font-weight: 600;
    background-color: var(--Grey-700);
    color: var(--White);
    text-decoration: none;
    border-radius: 10px;
    padding: 15px;
    width: 200%;
    text-align: center;
}
.links a:hover{
    background-color: var(--Green);
}
.links a:focus{
    background-color: var(--Green);
}
.attribution { 
    font-size: 0.6875rem; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
}
@media (max-height: 700px){
    body{
        justify-content: flex-start;
        padding-top: 20px;
    }
}